<div>
  <div>
    <form method="GET" action="/artist-search">
      <input name="artist" type="text" value="The Beatles" />
      <button type="submit">Search for an Artist</button>
    </form>
  </div>
</div>