<div id="background">
  <div class="search-box">
    <form method="GET" action="/artist-search" class="search-form">
      <input name="artist" type="text" value="The Beatles" />
      <button type="submit">Search for an Artist</button>
    </form>
  </div>
</div>